datacenter = "{{ consul_datacenter }}"
data_dir = "/opt/consul"
encrypt = "{{ consul_encrypt_key }}"
server = {{ consul_server }}
bootstrap_expect = {{ consul_bootstrap_expect }}
connect { enabled = true }
ports { http = 8500, grpc = 8502 }
bind_addr = "{{ ansible_all_ipv4_addresses | select('match', '172.16.*') | list | first }}"
advertise_addr = "{{ ansible_all_ipv4_addresses | select('match', '172.16.*') | list | first }}"
retry_join = [ "172.16.10.11"]
rejoin_after_leave = true

